In [8]:
# Importing libarires
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

### Preparping Algorthims Leaderboard Dataset:

In [9]:
# Information about algorthims problems
algo_info = pd.read_csv("algo_info.csv")
# Select the problems that were only sampled
algo_info = algo_info.iloc[np.arange(0,len(algo_info),1/0.1)]
# Adding new column 'problem_id'
algo_info.insert(0,"problem_id",np.arange(0,len(algo_info)))
algo_info.head()

,problem_id,problem_type,problem_name,difficulty,skills,max_score
0,0,algorithms,day-of-the-programmer,Easy,Basic,15
10,1,algorithms,time-conversion,Easy,Basic,15
20,2,algorithms,sock-merchant,Easy,Basic,10
30,3,algorithms,utopian-tree,Easy,Basic,20
40,4,algorithms,append-and-delete,Easy,Basic,20

In [10]:
# Algorthims dataset
algo_leaderboard = pd.read_csv("algo_leaderboard.csv", sep=";",error_bad_lines = False)
# Adding new column 'problem_type'
algo_leaderboard.insert(1,"problem_type", "algorithms")
# Change range of of 'problem_id'
algo_leaderboard["problem_id"] = algo_leaderboard["problem_id"]/10
# Casting appropritate datatypes
algo_leaderboard[["problem_id","count"]] = algo_leaderboard[["problem_id","count"]].astype(np.int16)
algo_leaderboard["score"] = algo_leaderboard["score"].astype(np.float16)
algo_leaderboard.head(10)

C:\Users\AmirWG\AppData\Local\Temp\ipykernel_11888\1389299766.py:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  algo_leaderboard = pd.read_csv("algo_leaderboard.csv", sep=";",error_bad_lines = False)
Skipping line 2852: expected 5 fields, saw 6
Skipping line 3562: expected 5 fields, saw 6
Skipping line 6825: expected 5 fields, saw 6
Skipping line 9140: expected 5 fields, saw 6
Skipping line 20431: expected 5 fields, saw 6

   problem_id problem_type pl            country  score  count
0           0   algorithms  c              India   15.0   2100
1           0   algorithms  c            Germany   15.0      6
2           0   algorithms  c  Republic of Korea   15.0      8
3           0   algorithms  c     United Kingdom   15.0      5
4           0   algorithms  c          Indonesia   15.0     20
5           0   algorithms  c           Bulgaria   15.0      3
6           0   algorithms  c      United States   15.0     42
7           0   algorithms  c             Brazil   15.0      8
8           0   algorithms  c          Sri Lanka   15.0     13
9           0   algorithms  c              Egypt   15.0     36

In [21]:
algo_leaderboard["problem_id"].unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44], dtype=int16)

### Preparping Data Structures Leaderboard Dataset:

In [12]:
# Information about algorthims problems
ds_info = pd.read_csv("ds_info.csv")
# Select the problems that were only sampled
ds_info = ds_info.iloc[np.arange(0,len(ds_info),1/0.1)]
# Adding new column 'problem_id'
ds_info.insert(0,"problem_id",np.arange(len(algo_info),len(ds_info)+len(algo_info)))
ds_info.head()

,problem_id,problem_type,problem_name,difficulty,skills,max_score
0,45,data structures,dynamic-array,Easy,Basic,15
10,46,data structures,delete-a-node-from-a-linked-list,Easy,Basic,5
20,47,data structures,reverse-a-doubly-linked-list,Easy,Intermediate,5
30,48,data structures,swap-nodes-algo,Medium,Advanced,40
40,49,data structures,median,Hard,Intermediate,70

In [13]:
# Data structures dataset
ds_leaderboard = pd.read_csv("ds_leaderboard.csv", sep=";",error_bad_lines = False)
# Adding new column 'problem_type'
ds_leaderboard.insert(1,"problem_type", "data structures")
# Change range of of 'problem_id'
ds_leaderboard["problem_id"] = ds_leaderboard["problem_id"]/10 + len(algo_info)
# Casting appropritate datatypes
ds_leaderboard[["problem_id","count"]] = ds_leaderboard[["problem_id","count"]].astype(np.int16)
ds_leaderboard["score"] = ds_leaderboard["score"].astype(np.float16)
ds_leaderboard.head(10)

C:\Users\AmirWG\AppData\Local\Temp\ipykernel_11888\165118911.py:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  ds_leaderboard = pd.read_csv("ds_leaderboard.csv", sep=";",error_bad_lines = False)
Skipping line 2906: expected 5 fields, saw 6

   problem_id     problem_type pl        country  score  count
0          45  data structures  c  United States   15.0     59
1          45  data structures  c         Turkey   15.0      5
2          45  data structures  c         Canada   15.0      8
3          45  data structures  c          India   15.0    549
4          45  data structures  c        Germany   15.0      3
5          45  data structures  c         Sweden   15.0      2
6          45  data structures  c         Israel   15.0      2
7          45  data structures  c         Greece   15.0      3
8          45  data structures  c          China   15.0      2
9          45  data structures  c      Australia   15.0      4

In [19]:
ds_leaderboard["problem_id"].unique()

array([45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56], dtype=int16)

### Outputting Files After Preperation:

In [15]:
# Combined info of algorthims and data structures problems
algo_ds_info = pd.concat([algo_info,ds_info], axis = 0)
algo_ds_info

,problem_id,problem_type,problem_name,difficulty,skills,max_score
0,0,algorithms,day-of-the-programmer,Easy,Basic,15
10,1,algorithms,time-conversion,Easy,Basic,15
20,2,algorithms,sock-merchant,Easy,Basic,10
30,3,algorithms,utopian-tree,Easy,Basic,20
40,4,algorithms,append-and-delete,Easy,Basic,20
50,5,algorithms,taum-and-bday,Easy,Basic,25
60,6,algorithms,service-lane,Easy,Basic,20
70,7,algorithms,absolute-permutation,Medium,Intermediate,40
80,8,algorithms,insertionsort1,Easy,Basic,30
90,9,algorithms,pangrams,Easy,Basic,20
100,10,algorithms,closest-numbers,Easy,Basic,35
110,11,algorithms,game-of-thrones,Easy,Basic,30
120,12,algorithms,count-strings,Hard,Null,80
130,13,algorithms,similar-strings,Advanced,Null,85
140,14,algorithms,gridland-metro,Medium,Intermediate,25
150,15,algorithms,maximizing-mission-points,Hard,Null,70
160,16,algorithms,playing-with-numbers,Hard,Null,70
170,17,algorithms,bfsshortreach,Medium,Advanced,55
180,18,algorithms,beautiful-path,Medium,Null,50
190,19,algorithms,johnland,Medium,Null,60
200,20,algorithms,bytelandian-tours,Hard,Null,90
210,21,algorithms,quadrant-queries,Advanced,Null,100
220,22,algorithms,tsp-grid,Expert,Null,100
230,23,algorithms,marcs-cakewalk,Easy,Basic,15
240,24,algorithms,greedy-florist,Medium,Basic,35
250,25,algorithms,accessory-collection,Hard,Null,60
260,26,algorithms,construct-the-array,Medium,Intermediate,35
270,27,algorithms,prime-xor,Medium,Null,50
280,28,algorithms,summing-pieces,Medium,Null,40
290,29,algorithms,taras-beautiful-permutations,Hard,Null,70
300,30,algorithms,play-game,Medium,Null,55
310,31,algorithms,counting-road-networks,Expert,Null,90
320,32,algorithms,a-super-hero,Hard,Null,80
330,33,algorithms,travel-around-the-world,Medium,Null,120
340,34,algorithms,zurikela,Hard,Null,80
350,35,algorithms,tree-pruning,Advanced,Null,100
360,36,algorithms,count-ways-1,Expert,Null,100
370,37,algorithms,yet-another-minimax-problem,Medium,Null,30
380,38,algorithms,manipulative-numbers,Hard,Null,55
390,39,algorithms,the-power-sum,Medium,Intermediate,20
400,40,algorithms,repeat-k-sums,Advanced,Null,150
410,41,algorithms,tower-breakers-again-1,Medium,Null,30
420,42,algorithms,bob-and-ben,Medium,Null,50
430,43,algorithms,vertical-rooks,Medium,Null,90
440,44,algorithms,zig-zag-sequence,Medium,Basic,40
0,45,data structures,dynamic-array,Easy,Basic,15
10,46,data structures,delete-a-node-from-a-linked-list,Easy,Basic,5
20,47,data structures,reverse-a-doubly-linked-list,Easy,Intermediate,5
30,48,data structures,swap-nodes-algo,Medium,Advanced,40
40,49,data structures,median,Hard,Intermediate,70
50,50,data structures,find-the-running-median,Hard,Advanced,50
60,51,data structures,poisonous-plants,Hard,Advanced,70
70,52,data structures,jim-and-the-skyscrapers,Medium,Null,60
80,53,data structures,functional-palindromes,Advanced,Null,80
90,54,data structures,almost-sorted-interval,Expert,Null,100
100,55,data structures,triplets,Advanced,Null,90
110,56,data structures,helix,Advanced,Null,150

In [16]:
# Combined algorthims and data structures leaderboard datasets
algo_ds_leaderboard = pd.concat([algo_leaderboard,ds_leaderboard], axis = 0)
algo_ds_leaderboard.head()

   problem_id problem_type pl            country  score  count
0           0   algorithms  c              India   15.0   2100
1           0   algorithms  c            Germany   15.0      6
2           0   algorithms  c  Republic of Korea   15.0      8
3           0   algorithms  c     United Kingdom   15.0      5
4           0   algorithms  c          Indonesia   15.0     20

In [17]:
algo_ds_leaderboard.to_csv("algo_ds_leaderboard.csv",sep=";",index=False)
algo_ds_info.to_csv("algo_ds_info.csv",index=False)